.notify{
    text-align: center;
}

.header {
    background-color: #764abc;
    height: 70px;
}

.header div {
    display: flex;
    justify-content: end;
    padding-top: 8px;
    margin-right: 12px;
}

.card-section {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.header-h1{
    text-align: center;
    margin: 10px;
}